* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* common css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

p,
li {
    font-weight: 400;
    font-size: 16px;
}

/* variable color */
:root {
    --primary-color: #FF5400;
    --secondary: #131318;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.fa-bars {
    display: none;
}

.logo {
    display: flex;
}

.logo h2 {
    color: var(--secondary);
    font-size: 36px;
}

.logo span {
    color: var(--primary-color);
}

.menu-item {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
    border-radius: 16px;
    margin-top: 40px;
    width: 100%;

}

.banner-description {
    width: 60%;
    margin: auto;
    text-align: center;
}

.banner-description h1 {
    font-size: 64px;
    margin-bottom: 24px;
}

.banner-input-container input {
    padding: 16px 0 16px 16px;
    width: 174px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.banner-input-container {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    margin-top: 48px;
}

.input_btn {
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: #0702115e;
    width: 174px;
}

.input_btn i {
    cursor: pointer;
    margin-left: 20px;
}

.primary_btn {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* popular */
.popular_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.popular_contant {
    width: 60%;
}

.popular_title h2 {
    font-size: 40px;
}

.popular_contant p {
    margin: 24px 0;
}

.popular_contant li {
    margin-bottom: 20px;
}

.popular_img {
    width: 40%;
}

.popular_img img {
    width: 100%;
}

/* destination */

.destination_title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.destination_title h1 {
    font-size: 40px;
}

.destination_title p {
    margin: 24px 0 48px 0;
}

.destination_img_grid1,
.destination_img_grid2,
.destination_img_grid3 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.destination_img_1,
.destination_img_2,
.destination_img_3,
.destination_img_4,
.destination_img_5,
.destination_img_6,
.destination_img_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
}

.destination_img_1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
    background-size: cover;
}

.destination_img_2 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
    background-size: cover;
}

.destination_img_3 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
    width: 374px;
    height: 286px;
    background-size: cover;
}

.destination_img_4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
    width: 474px;
    height: 286px;
    background-size: cover;
}

.destination_img_5 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
    width: 274px;
    height: 286px;
    background-size: cover;
}

.destination_img_6 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
    width: 473px;
    height: 300px;
    background-size: cover;
}

.destination_img_7 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
    width: 673px;
    height: 300px;
    background-size: cover;
}

/* why choose  */
.choose_containe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.choose_item {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.choos_item_2 {
    background: rgba(41, 206, 246, 0.05);
}

.choos_item_3 {
    position: relative;
    transform: translateX(50%);
    background: rgba(233, 68, 68, 0.05);
}

.choose_item img {
    width: 64px;
}

.choose_item h2 {
    font-size: 24px;
    margin: 32px 0 16px 0;
}

.choose_item p {
    font-size: 16px;
}

/* mobile resposive */
@media only screen and (max-width: 600px) {
    .container {
        margin-bottom: 24px;
    }

    .menu-item {
        display: none;
    }

    .banner {
        padding: 32px 24px;
    }

    .banner-description {
        width: 100%;

    }

    .banner-description h1 {
        font-size: 22px;
    }

    .banner-description p {
        font-size: 14px;
    }

    .fa-bars {
        display: block;
    }

    .banner-input-container {
        flex-direction: column;
        gap: 20px;
    }

    /* popular */
    .popular_container {
        flex-direction: column;
    }

    .popular_contant {
        width: 100%;
    }

    .popular_contant li,
    p {
        font-size: 14px;
    }

    .popular_img {
        width: 100%;
    }

    .popular_title h2 {
        font-size: 20px;
    }

    /* destination */
    h1,
    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .destination_title {
        width: 100%;
    }

    .destination_title h1 {
        font-size: 20px;
    }

    .destination_img_grid1,
    .destination_img_grid2,
    .destination_img_grid3 {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .destination_img_1,
    .destination_img_2,
    .destination_img_3,
    .destination_img_4,
    .destination_img_5,
    .destination_img_6,
    .destination_img_7 {
        width: 100%;
    }
/* why choose  */
.choose_containe {
    display: grid;
    grid-template-columns: 1fr;
}
.choos_item_3 {
    transform: translateX(0%);
}
}