* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* common css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 100px;
}

h1,
h2,
h3,
h4 {
    font-weight: 800;
}

p,
li {
    font-weight: 400;
    font-size: 16px;
}

/* variable color */
:root {
    --primary-color: #FF5400;
    --secondary: #131318;
}

/* header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.fa-bars {
    display: none;
}

.logo {
    display: flex;
}

.logo img {
    width: 40px;
    height: 46.673px;
}

.logo h2 {
    color: var(--secondary);
    font-size: 36px;
}

.logo span {
    color: var(--primary-color);
}

.menu-item {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
}

.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
        url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: #fff;
    border-radius: 16px;
    margin-top: 40px;
    width: 100%;

}

.banner-description {
    width: 60%;
    margin: auto;
    text-align: center;
}

.banner-description h1 {
    font-size: 64px;
    margin-bottom: 24px;
}

.banner-input-container input {
    padding: 16px 0 16px 16px;
    width: 174px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.banner-input-container {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    margin-top: 48px;
}

.input_btn {
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    color: #0702115e;
    width: 174px;
}

.input_btn i {
    cursor: pointer;
    margin-left: 20px;
}

.primary_btn {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

/* popular */
.popular_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 53px;
}

.popular_contant {
    width: 60%;
}

.popular_title h2 {
    font-size: 40px;
}

.popular_contant p {
    margin: 24px 0;
}

.popular_contant li {
    margin-bottom: 20px;
}

.popular_img {
    width: 40%;
}

.popular_img img {
    width: 100%;
}

/* destination */

.destination_title {
    width: 50%;
    margin: auto;
    text-align: center;
}

.destination_title h1 {
    font-size: 40px;
}

.destination_title p {
    margin: 24px 0 48px 0;
}

.destination_img_grid1,
.destination_img_grid2,
.destination_img_grid3 {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.destination_img_1,
.destination_img_2,
.destination_img_3,
.destination_img_4,
.destination_img_5,
.destination_img_6,
.destination_img_7 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 28px;
}

.destination_img_1 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
    background-size: cover;
}

.destination_img_2 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
    width: 573px;
    height: 300px;
    background-size: cover;
}

.destination_img_3 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
    width: 374px;
    height: 286px;
    background-size: cover;
}

.destination_img_4 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
    width: 474px;
    height: 286px;
    background-size: cover;
}

.destination_img_5 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 8.png), lightgray 50% / cover no-repeat;
    width: 274px;
    height: 286px;
    background-size: cover;
}

.destination_img_6 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
    width: 473px;
    height: 300px;
    background-size: cover;
}

.destination_img_7 {
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../Images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
    width: 673px;
    height: 300px;
    background-size: cover;
}

/* why choose  */
.choose_containe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.choose_item {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.choos_item_2 {
    background: rgba(41, 206, 246, 0.05);
}

.choos_item_3 {
    position: relative;
    transform: translateX(50%);
    background: rgba(233, 68, 68, 0.05);
}

.choose_item img {
    width: 64px;
}

.choose_item h2 {
    font-size: 24px;
    margin: 32px 0 16px 0;
}

.choose_item p {
    font-size: 16px;
}
/* testimonials */
.testimonial_icon{
margin-top: 15px;
}
.testimonial_icon i{
color: #FF5400;
}
.testimonials_img{
    width: 30px;
}
.testimonial_name{
    padding: 0px;
    font-size: 20px;
}
/* deals an discount */
.deals,
.deals_2,
.deals_3 {
    background-image: url("/Images/Group\ 39.png");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 56px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.deals_2 {
    background-image: url("/Images/Group\ 40.png");
}

.deals_card,
.deals_card_2 {
    width: 50%;
    float: right;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 50px;
}

.deals_card_2 {
    float: left;
}

.deals_card_icon {
    display: flex;
    gap: 20px;
}


.deals_card_icon i {
    color: var(--primary-color);
    margin-right: 10px;
}

.deals_card_icon span {
    color: #5A5A5D;
}

.deals_card h2 {
    font-size: 24px;
    margin: 26px 0 16px 0;
    color: var(--primary-color);
}

.deals_card h3 {
    font-size: 24px;
    margin: 26px 0 16px 0;
    color: var(--primary-color);
}

.deals_button {
    display: flex;
    justify-content: center;
}

/* get perfect */
.perfect {
    display: flex;
    gap: 30px;
}

.perfect_contat {
    width: 50%;
}

.perfect_contat h2 {
    font-size: 40px;
    margin: 24px 0;
}

.perfect_contat li {
    color: #000000;
    margin: 20px;
}

.perfect_vedio {
    width: 50%;
    border-radius: 16px;
}

.perfect_vedio video {

    border-radius: 16px;
}


/* newsletter */
.newsletter {
    display: flex;
    gap: 20px;
}

.newsletter_contant {
    width: 40%;
}

.newsletter_contant h1 {
    font-size: 40px;
}

.newsletter_contant p {
    margin: 16px 0;
}

.newsletter_input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newsletter_input input {
    padding: 15px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter_input button {
    width: 100%;
}

hr {
    border: .4px solid #1313181e;
    margin: 10px 0;
}

.newsletter_img {
    width: 60%;
    background-image: url("/Images/Rectangle\ 8\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 16px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 10px;

}

.sav_up {
    width: 200px;
    height: 70px;
    transform: rotate(-19deg);
    border-radius: 16px;
    background: #FF5400;
    margin-bottom: 25px;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */
footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
    text-align: center;
}

.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_pera{
    padding: 0 100px;
    margin: 15px 0;
}
/* mobile resposive */
@media only screen and (max-width: 600px) {
    .container {
        margin-bottom: 24px;
    }
    .logo img {
        width: 28px;
        height: 30px;
    }
    .logo h2 {
        font-size: 21px;
    }
    .menu-item {
        display: none;
    }

    .banner {
        padding: 32px 24px;
    }

    .banner-description {
        width: 100%;

    }

    .banner-description h1 {
        font-size: 22px;
    }

    .banner-description p {
        font-size: 14px;
    }

    .fa-bars {
        display: block;
    }

    .banner-input-container {
        flex-direction: column;
        gap: 20px;
    }

    /* popular */
    .popular_container {
        flex-direction: column;
    }

    .popular_contant {
        width: 100%;
    }

    .popular_contant li,
    p {
        font-size: 14px;
    }

    .popular_img {
        width: 100%;
    }

    .popular_title h2 {
        font-size: 20px;
    }

    /* destination */
    h1,
    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .destination_title {
        width: 100%;
    }

    .destination_title h1 {
        font-size: 20px;
    }

    .destination_img_grid1,
    .destination_img_grid2,
    .destination_img_grid3 {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .destination_img_1,
    .destination_img_2,
    .destination_img_3,
    .destination_img_4,
    .destination_img_5,
    .destination_img_6,
    .destination_img_7 {
        width: 100%;
    }

    /* why choose  */
    .choose_containe {
        display: grid;
        grid-template-columns: 1fr;
    }

    .choos_item_3 {
        transform: translateX(0%);
    }

    /* deals and dscount */
    .deals,
    .deals_2,
    .deals_3 {
        position: relative;
    }

    .deals_card,
    .deals_card_2 {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .deals_card_icon {
        flex-wrap: wrap;
    }

    /* perfect get section */
    .perfect {
        flex-direction: column;
    }

    .perfect_contat,
    .perfect_vedio {
        width: 100%;
    }

    .perfect_contat h2 {
        font-size: 20px;
    }

    .perfect_contat p {
        font-size: 14px;
    }

    /* newsletter */
    .newsletter {
        flex-direction: column;
    }

    .newsletter_contant h1 {
        font-size: 20px;
    }

    .newsletter_contant,
    .newsletter_img {
        width: 100%;
    }

    .newsletter_img {
        width: 100%;
        height: 300px;
    }
    /* footer */
    .footer_pera{
        padding: 0;
    }
}